body {
    margin: 0;
}

h1 {
    text-align: center;
}

a {
    text-decoration: none;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none outside none;
}

.container {
    padding: 0 10vw;
}

footer {
    position: absolute;
    bottom: 0;
    padding: 0 10vw 2vw;
    font-size: 75%;
}
